/target/
/extractChangesPIDs.sh
/extractChangesOfAllProjects.sh
.
..
ExtractMovieFromAsana
.git
README.md
ExtractMovieFromAsana/src/main/java/at/ac/wu/asana/tryout/TryTaskType.java
ExtractMovieFromAsana/src/main/java/at/ac/wu/asana/tryout/DownloadAllCiclesAndSubcircles.java
/extractChangesFromCSVList.sh
/extractChangesInfoBiz.sh
