node {
	fill-color: rgba(155,0,0,128);
	text-mode:hidden;
	text-color: black;
	size: 5px;
}

node:clicked {
	fill-color: red;
	text-mode: normal;
	text-color: red;
}

node.role {
	shape: circle;
}

node.circleClass {
	shape: box;
	size: 15px, 15px;
	text-mode: normal;
}

node.master {
	shape: diamond;
	size: 20px, 20px;
	text-mode: normal;
}

node.subcircle {
	shape: rounded-box;
	size: 10px, 10px;
	text-mode: normal;
}

node.added {
	fill-color: rgba(51, 204, 51, 250);
}

node.modified {
	fill-color: rgba(51, 153, 255, 250);
	//text-mode: normal;
	size: 10px;
}

node.deleted {
	fill-color: rgba(30, 30, 30, 200);
	size: 10px;
}

sprite {
	fill-color: white;
	text-color: black;
	shape: rounded-box;
	z-index: 1;
}

edge {
	fill-color: rgba(10,10,10,128);
}

edge.sameCircle {
	shadow-color: yellow, brown;
	shadow-offset: 0, 2;
}
