node {
	size: 15px, 15px;
	fill-color: rgb(155,0,0);
	text-size: 15px;
	text-mode:hidden;
}

node:clicked {
	fill-color: red;
	text-mode: normal;
}

node.role {
	shape: circle;
	size: 15px, 15px;
	fill-color: rgb(155,0,0);
}

node.circleClass {
	shape: box;
	size: 25px, 25px;
	text-mode: hidden;
}

node.master {
	shape: quad;
	size: 30px, 30px;
}

node.subcircle {
	shape: rounded-box;
	size: 20px, 20px;
}

node.emphasize {
	fill-color: green;
	text-mode: normal;
}

node.unemphasize {
	fill-color: rgb(155,0,0);
	text-mode: hidden;
}

node.deleted {
	fill-color: rgb(169,169,169);
	text-mode: hidden;
}

sprite {
	fill-color: red;
	shape: rounded-box;
	size: 128px, 128px;
}

edge {
	shape: angle;
	stroke-width: 5px;
}

node.added {
	fill-color: rgba(51, 204, 51, 250);
}

node.modified {
	fill-color: rgba(51, 153, 255, 250);
	text-mode: hidden;
}

node.deleted {
	fill-color: rgba(30, 30, 30, 200);
	text-mode: hidden;
}

sprite {
	fill-color: white;
	text-color: black;
	shape: rounded-box;
	z-index: 1;
}
